.about{
	width: 100vw;
	min-height: 100vh;
    text-align: center;
    margin-top: 3vh;
}

.header{
    padding: 1vh;
    color: #5A9BC3;
	font-size: 6vw;
    background-color: #E8E8E8;
}

.header span{
    display: block;
}

.title{
    letter-spacing: 1.1vw;
    text-transform: uppercase;
}

.subtitle{
    font-size: small;
    font-style: italic;
}

.aboutDesc{
    margin-top:0.5vh;
    margin-bottom:3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    text-align: justify;
    font-size: 5vw;
    color: black;
}

.aboutContact a{
    text-decoration: underline;
}

.aboutContact{
    margin-top:0.5vh;
    margin-bottom:3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    text-align: left;
    font-size: 4vw;
    color: gray;
}

.thanks{
    margin-top:3vh;
    padding: 1vh;
    color: #5A9BC3;
	font-size: 6vw;
    background-color: #E8E8E8;
    display: block;
}

.authors{
    text-align:left;
    margin-top:3vh;
    display: block;
    width:100%;
    height:100%;
}

.singleAuthor{
    background-color: white;
    display: table;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2.5vh;
    box-shadow: 0 0 0.1vh #9E9E9E;
    width: 90vw;
}

.authorImg{
    margin: 2vw;
    float: left;
    width: 18vw;
    border: 0 solid black;
    box-shadow: 0 0 0.1vh #9E9E9E;
    border-radius:50%;
}

.authorRight{
    margin-top:4.5vw;
    margin-left:1vw;
    float: left;
}

.authorName{
    font-size: 5vw;
}

.authorDesc{
    font-size: 4vw;
    font-variant: small-caps;
    font-weight: 400;
    border: 0.7vw solid #5a9bc3;
    color: #5a9bc3;
    border-radius: 3vw;
    padding: 0.5vh 2vw;
    text-align: center;
    display: inline-block;
    margin: 2vh 0;
}

.aboutCreditsList{
    font-style: italic;
    list-style-type: none;
    text-decoration:underline;
    padding: 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

.aboutCreditsList li{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.aboutCreditsList a, .aboutCreditsList a:visited{
    color: gray;
}