/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
*{
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,a:link,a:visited,a:hover,a:focus,a:active{
    text-decoration: none;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url(../fonts/HelveticaNeue-Light.otf) format("opentype");
}

body {
    z-index: -2;
	font-family:'HelveticaNeue-Light';/*, 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
	height:100%;
	width:100vw;
	margin:0;
	padding:0;
}

.container {
    padding-top: 0.5vh;
    z-index: -1;
	top: 0;
	left: 0;
	margin: 0;
	background: #f2f2f2;
	color: #000000;
	width: 100vw;
	height: 100%;
}

.menu {
	text-align: center;
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 10vh;
	background-color: #5A9BC3;
	z-index: 2;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow:hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#panel, #menu{
    background-color: #5A9BC3;
}

#logo{
    color: #ffffff;
    display: inline-block;
}

#menu_btn{
    display: inline-block;
    margin-left: 2vw;
    margin-top: 4vh;
    margin-right: 5vw;
    font-size: 2em;
}
