.singleEvent{
	width: 100vw;
	min-height: 100vh;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.eventTitle{
    padding: 1vh;
    color: #5A9BC3;
    letter-spacing: 1.1vw;
    font-size: 6vw;
    background-color: #E8E8E8;
    display: block;
}

.eventImg{
    margin-top: 3vh;
    width: 100%;
    height: auto;
}

.eventDate{
    font-weight: 400;
    font-style: italic;
    font-size: 4vw;
    float: right;
    margin-right: 5vw;
    color: grey;
}

.eventDesc{
    margin-top:5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    text-align: justify;
    font-size: 4vw;
}

.eventSubs{
    padding: 1vh 2vh 1vh 2vh;
    margin-top: 4vh;
    margin-bottom:4vh;
    background-color: #E8E8E8;
}

.eventNum{
    display:block;
    font-size: 6vw;
    color: #5A9BC3;
}

.eventBtn{
    margin-top:1.5vh;
    outline: none;
	text-decoration: none;
    border-radius: 150px;
    border: 0 solid #5A9BC3;
	color: #fff;
	background: #5A9BC3;
    font-size: 5vw;
    padding: 1vh 2vh 1vh 2vh;
}

.eventGuide{
    outline: none;
	text-decoration: none;
    border: 0 solid #5A9BC3;
    border-radius:15px;
	color: #fff;
	background: #5A9BC3;
    font-size: 4.5vw;
    padding: 1vh 2vh 1vh 2vh;
}
