.eventList{
	width: 100vw;
	height: auto;
    padding-top: 3vh;
	}


.eventListTitle{
    /* margin: auto; */
    width: 50%;
    /* height: 100%; */
    /* max-width: 600px; */
    /* padding-bottom: 15px; */
    text-align: center;
    display: block;
    /* position: absolute; */
    left: 25%;
    font-size: 7vw;
    line-height: 7vw;
    color: #5A9BC3;
}

.eventListFilter{
    /* max-width: 600px; */
    width: 20%;
    /* height: 100%; */
    /* padding-top: 60px; */
    /* padding-bottom: 50px; */
    /* text-align: center; */
    display: block;
    position: absolute;
    right: 0;
    box-shadow: -1.5vw 0 1px -0.6vh #BDB6B6;
    line-height: 7vw;
    padding-left: 2vw;
    color: #5A9BC3;
}

.singleEvent{
	text-align: center;
	width: 90vw;
	margin: 3vh auto 3vh auto;
	height: 100%;

	background-color: #FFFFFF;
	box-shadow: 0 0 0.1vh #9E9E9E;
	border-radius: 0.2vh;
}
	
.eventTop{
	padding-left: 2vw;
	padding-right: 2vw;
}

.eventType{
    float: left;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    color: #5A9BC3;
    border: 0.5vw solid #5A9BC3;
    font-size: 4vw;
    font-weight: bold;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 3vw;
}

.eventSubs{
	float:right;
    margin-top: calc(2.5vh + 0.5vw);
    margin-bottom: calc(2.5vh + 0.5vw);
    color: #5A9BC3;
    font-size: 4vw;
    font-weight: bold;
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.eventNum{
    font-size: 3vw;
}

.eventImg{
	width: 100%;
    height: auto;
}

.eventBottom{
	margin-top: 1vh;
	margin-bottom: 2vh;
	line-height: 3.3vh;
}

.eventTitle{
	color: #5A9BC3;
    letter-spacing: 1vw;
	font-size: 4.5vw;
}

.eventDate{
	color: gray;
	font-size: 3.5vw;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
#btnCloseModal{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5e9ac6;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5e9ac6;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}