.eventList{
	width: 100vw;
	height: auto;
	}

.singleEvent{
	text-align: center;
	width: 90vw;
	margin: 5vh auto 2vh auto;
	height: 100%;

	background-color: #FFFFFF;
	box-shadow: 0 0 0.1vh #9E9E9E;
	border-radius: 0.2vh;
}
	
.eventTop{
	padding-left: 2vw;
	padding-right: 2vw;
}

.eventType{
    float: left;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    color: #5A9BC3;
    border: 0.5vw solid #5A9BC3;
    font-size: 4vw;
    font-weight: bold;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 3vw;
}

.eventSubs{
	float:right;
    margin-top: calc(2.5vh + 0.5vw);
    margin-bottom: calc(2.5vh + 0.5vw);
    color: #5A9BC3;
    font-size: 4vw;
    font-weight: bold;
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.eventNum{
    font-size: 3vw;
}

.eventImg{
	width: 100%;
    height: auto;
}

.eventBottom{
	margin-top: 1vh;
	margin-bottom: 2vh;
	line-height: 3.3vh;
}

.eventTitle{
	color: #5A9BC3;
    letter-spacing: 1.5vw;
	font-size: 4.5vw;
}

.eventDate{
	color: gray;
	font-size: 3.5vw;
}
