.username{
    font-size: 4.5vw;
    font-weight: bold;
    background-color: #E8E8E8;
    padding: 1vh 20vw 1vh 20vw;
    color: #5A9BC3;
}

.buttonAccomodation{
    margin: 2vh 14vw 6vh 14vw;
    outline: none;
	text-decoration: none;
    border: 0 solid #5A9BC3;
    border-radius: 10px;
	color: #fff;
	background: #5A9BC3;
    font-size: 5vmin;
    display: block;
    padding: 1vh 10vw 1vh 10vw;
}

.disabled, .disabled:active, .disabled:hover, .disabled:focus, .disabled:visited{
    text-decoration: line-through;
    background-color: rgba(0, 0, 0, 0.5);
}

.buttonAccomodation i{
    margin: 0 1vw;
}

.buttonEvents{
    margin: 2vh 20vw;
    outline: none;
	text-decoration: none;
    border: 0 solid #5A9BC3;
    border-radius:10px;
	color: #fff;
	background: #5A9BC3;
    font-size: 5vw;
    display:block;
    padding: 1vh 15.5vw 1vh 15.5vw;
}
.buttonsContainer{
    margin-top:5vh;
    text-align: center;
}
.mapProfile{
    margin-top:5vh;
}
.myProfile{
    text-align:center;
}
.profileContainer{
    margin-top:3vh;
}

#map{
    margin: 5vh 0 !important;
    height: 40vh;
    width: 100%;
}

.legend{
    list-style-type: none;
    text-align: left;
    padding-right: 2vw;
    margin-right: 5vw;
}

.legend li {
    margin-top: 2vh;
    border-bottom: solid 0.2vh gray;
    font-style: italic;
    font-weight: 100;
}

.legend li img{
    margin-right: 5vw;
    display:table-cell;
}

.arrow {
    position: absolute;
    margin: auto;
    top: 60vh; bottom: 0;
    left: 0; right: 0;
    width: 40px;
    height: 40px;
    font-size: 25vmin;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    color: gray;
}

.arrowLabel{
    font-size: 5vmin;
    font-style: italic;
    position: absolute;
    display: block;
    bottom: 25vh;
    left: 22.5vw;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
    padding: 2vmin;
    border: 1px solid #ffffff;
    border-radius: 1vmin;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

