.singleRestaurant{
	width: 100vw;
	min-height: 100vh;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.restaurantTitle{
    padding: 1vh;
    color: #5A9BC3;
    letter-spacing: 1.1vw;
    font-size: 6vw;
    background-color: #E8E8E8;
    display: block;
}

.restaurantImg{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    margin-bottom:3vh;
}

.restaurantPhone{
	padding: 1vh;
    color: #5A9BC3;
    letter-spacing: 0.4vw;
	font-size: 5vw;
    font-weight: bold;
    background-color: #E8E8E8;
	margin-top:3vh;
}

.restaurantDistance{
    font-size: 4vw;
    color: #3884B3;
    font-weight: bold;
	display: block;
	margin-top: 2vh;
}

.restaurantDesc{
    margin-top:3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    text-align: justify;
    font-size: 4vw;
}

.restaurantGuide{
    outline: none;
	text-decoration: none;
    border: 0 solid #5A9BC3;
    border-radius:15px;
	color: #fff;
	background: #5A9BC3;
    font-size: 7vw;
    padding: 1vh 2vh 1vh 2vh;
    margin-top: 3vh;
}

#phoneIcon{
	color: #C1C1C1;
	top: 0.5vh;
    font-size: 6vmin;
}