/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@CHARSET "ISO-8859-1";

.restaurantList{
	width: 100vw;
	height: auto;
}

.singleRestaurant{
	text-align: center;
	width: 90vw;
	margin: 5vh auto 2vh auto;
	height: 100%;

	background-color: #FFFFFF;
	box-shadow: 0 0 0.1vh #9E9E9E;
	border-radius: 0.2vh;
}
	
.restaurantImg{
	width: 100%;
    height: auto;
}

.restaurantBottom{
	margin-top: 1vh;
	margin-bottom: 1vh;
	line-height: 4vh;
}

.restaurantTitle{
	color: #5A9BC3;
    letter-spacing: 1.5vw;
	font-size: 4.5vw;
}

.restaurantDate{
	color: gray;
	font-size: 4vw;
}

.restaurantDistance{
    font-size: 4.5vw;
    color: #5A9BC3;
    font-weight: bold;
}
